                <h2>BioCIS Data Entry</h2>
                <p>
                    <a href="/html/newProject.html">Add a new project.</a>
                </p>
                <p>
                    <a href="/cgi-bin/enterSeqData">Enter sequencing run data</a>
                </p>
                <p>
                    <a href="/cgi-bin/upLoadSeqProjData.py">Upload sequencing project data</a>
                </p>
                <!--
                <br><hr><p>
                <a href="/cgi-bin/coreInSys/upLoadSeqData">Upload sequencing run data</a>
                </p>
                -->