/investigations
*.pyc
*.swp
*~
cgi-bin/mypol.pp
cgi-bin/mypol.te

# development files
/.idea
/flask
/html
/config.py

# testing files
/testing_app
/testing_database
/testing_db_repository
/testing_tmp
/testing_config.py
/testing_run.py

# Dia files
*.autosave