# development files
/biocompute-DM.iml
/.idea
/flask_environment
/config.py
/biocomputedm/static/serve/pipelines
/biocomputedm/static/serve/projects
/biocomputedm/static/serve/samples
/biocomputedm/static/serve/submissions

# Local files
/pipelines
/raw
/submissions
/samples
/projects
/reference

# Debug files
/error.log
/BIODIP Summary v 5.0.xlsx.zip