*.pyc
*.swp
*~
to_remove/cgi-bin/mypol.pp
to_remove/cgi-bin/mypol.te

# development files
/.idea
/flask
/html
/config.py
/biocomputedm/static/serve/pipelines
/biocomputedm/static/serve/projects
/biocomputedm/static/serve/samples
/biocomputedm/static/serve/submissions

# Local files
/pipelines
/raw
/submissions
/samples
/projects
/reference

# Debug files
/error.log
/BIODIP Summary v 5.0.xlsx.zip