div.content table.table-resize {
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
}

div.content table.table-resize tr {
    max-height: 200px;
    text-shadow: none;
}

div.content div.action.exempt table.table-resize td {
    vertical-align: top;
}

.resize {
    background: no-repeat center center;
    background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.img1 {
    background-image: url('/static/images/module_partial.png');
}

.img2 {
    background-image: url('/static/images/module_complete.png');
}

.bg1 {
    background-color: yellow;
}

.bg2 {
    background-color: limegreen;
}

.bg3 {
    background-color: blue;
}

.bg4 {
    background-color: red;
}

.bg5 {
    background-color: white;
}

.bg6 {
    background-color: purple;
}