{% extends "base.html" %}
{% block content %}
<div class="input-table clear">
    <div class="action">
        <h3>Add a document</h3>
        <form action="{{ url_for('add_document', iid=iid) }}" method=post enctype="multipart/form-data">
            <table class="small_content">
                <tr>
                    <td>
                        {{ form.hidden_tag() }}
                        <table class="internal">
                            <tr>
                                <td>{{ form.description.label }}</td>
                                <td>{{ form.description }}</td>
                            </tr>
                            {% for message in form.description.errors %}
                            <tr class="flash"><td>{{ message }}</td></tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="internal">
                            <tr>
                                <td>{{ form.file_upload.label }}</td>
                                <td>{{ form.file_upload }}</td>
                            </tr>
                            {% for message in form.file_upload.errors %}
                            <tr class="flash"><td>{{ message }}</td></tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.submit }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}