{% extends "base.html" %}

{% block content %}
<div class="input-table clear">
    <div class="action">
        {% if p.demultiplex %}
        {% else %}
        <h3>Demultiplex Paramaters</h3>
        <form action="{{ url_for('demultiplex') }}" method="post">
            <table class="small_content">
                <tr>
                    <td>
                        {{ form.hidden_tag() }}
                        <table class="internal">

                        </table>
                    </td>
                </tr>
            </table>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}