{% extends "base.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css?v=1">
{% endblock %}

{% block content %}
<div class="input-table">
    <div class="action exempt">
        <h3>Submission details</h3>
        <table class="content">
            <tr>
                <th>Sequence Submission Name</th>
                <th>Genomics Lead</th>
                <th>Start Date</th>
                <th>Completion Date</th>
                <th>Data Location</th>
                <th>Flow Cell ID</th>
                <th>Index Tag 1 Cycles</th>
                <th>Index Tag 2 Cycles</th>
                <th>Read 1 Cycles</th>
                <th>Read 2 Cycles</th>
                <th>Paired End (Yes / No)</th>
            </tr>

            <tr>
                <td>{{ submission.name }}</td>
                <td>{{ submission.leader }}</td>
                <td>{{ submission.start_date }}</td>
                <td>{{ submission.completion_date }}</td>
                <td>{{ submission.data_location }}</td>
                <td>{{ submission.flow_cell_id }}</td>
                <td>{{ submission.index_tag_cycles }}</td>
                <td>{{ submission.index_tag_cycles_2 }}</td>
                <td>{{ submission.read_cycles }}</td>
                <td>{{ submission.read_cycles_2 }}</td>
                <td>{{ submission.paired_end }}</td>
            </tr>
        </table>
        <br>
    </div>
    <br>

    <div class="action exempt">
        <h3>Sample Grouping Details</h3>
        <table class="content2">
            <tr>
                <th>Sample Grouping Name</th>
                <th>Selected Pipeline</th>
                <th>Current Module</th>
                <th>Current Status</th>
                <th>Add Commissioner</th>
            </tr>

            {% for grouping in submission.sample_group %}
            <tr>
                <td><a href="{{ url_for('sample_group', gid=grouping.display_key, type=grouping.type) }}">{{ grouping.name }}</a></td>

                {% if grouping.current_pipeline %}
                <td><a href="{{ url_for('pipeline', pid=grouping.current_pipeline.pipeline.display_key) }}">{{ grouping.current_pipeline.pipeline.name }}</a></td>
                {% else %}
                <td>No running pipeline</td>
                {% endif %}

                {% if grouping.current_pipeline and grouping.current_pipeline.current_module %}
                <td>{{ grouping.current_pipeline.current_module.module.name }}</td>

                {% if grouping.current_pipeline.current_module.status == "WAITING" %}
                <td style="background-image:url(#)">{{ stage.name }}</td>
                {% elif grouping.current_pipeline.current_module.status == "RUNNING" %}
                <td style="background-image:url(#)">{{ stage.name }}</td>
                {% elif grouping.current_pipeline.current_module.status == "FINISHED" %}
                <td style="background-image:url(#)">{{ stage.name }}</td>
                {% elif grouping.current_pipeline.current_module.status == "ERRORED" %}
                <td style="background-image:url(#)">{{ stage.name }}</td>
                {% elif grouping.current_pipeline.current_module.status == "NOT_STARTED" %}
                <td style="background-image:url(#)">{{ stage.name }}</td>
                {% endif %}

                {% else %}
                <td>No running pipeline</td>
                <td>No pipeline selected</td>
                {% endif %}

                <td><a href="{{ url_for('link_sample_group_to_client', gid=grouping.display_key) }}">Link To Commissioner</a></td>

            </tr>
            {% endfor %}
        </table>

        <br>
        <a href="{{ url_for('input_sequencing_sample_mappings', sid=submission.display_key, type='none') }}" class="input">Add Sample Mappings File</a>
        <br>
        <br>
    </div>
</div>
{% endblock %}