{% extends "base.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
<link rel=stylesheet type="text/css" href="/static/css/square_cell.css">
{% endblock %}

{% block content %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>WARNING!</h3>
        <h4>This command may irreparably affect your results</h4>
        <h4>{{ message }}</h4>

        <div class="spacer"></div>

        <table class="small_content">
            <tr>
                {% if type %}
                <td><a class="input" href="{{ url_for(url, oid=oid, force=1, change_type=type) }}">Confirm</a></td>
                <td><a class="input" href="{{ url_for('index') }}">Cancel</a></td>
                {% else %}
                <td><a class="input" href="{{ url_for(url, oid=oid, force=1) }}">Confirm</a></td>
                <td><a class="input" href="{{ url_for('index') }}">Cancel</a></td>
                {% endif %}
            </tr>
        </table>
    </div>
</div>
{% endblock %}