{% if datasets %}
{% for data_group in datasets  | batch(4, 'empty') %}
<div class="container-fluid">
<div class="row">
    {% for data in data_group %}
    {% if data != "empty" %}
    <div class="col-md-3" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        {% if data_file %}
        <a href="{{ url_for('manage.display_data', data_source_type=data_source_type, data_source=oid, data_file=data_file, name=data['name']) }}">{{ data['name'] }}</a>
        {% else %}
        <a href="{{ url_for('manage.display_data', data_source_type=data_source_type, data_source=oid, name=data['name']) }}">{{ data['name'] }}</a>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>
{% endfor %}
{% else %}
<h3>No output information available for this pipeline instance.</h3>
{% endif %}