{% extends "base.html" %}
{% block custom_css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="input-table clear">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <th>
                            <div class="action exempt">
                                {% block main %}
                                {% endblock %}
                            </div>
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        {#
                        <td>
                            <div class="action">
                                <h3>Processing Your Data</h3>
                                <a class="input remember" href="{{ url_for('content.data_processing') }}">Find out more!</a>
                                <ul>
                                    <li>Centralized Data Processing</li>
                                    <li>Highly Configurable and Customizable Pipelines</li>
                                    <li>Growing Process Pipelines</li>
                                    <li></li>
                                </ul>
                            </div>
                        </td>

                        <td>
                            <div class="action">
                                <h3>Management of your Data</h3>
                                <a class="input remember" href="{{ url_for('content.data_management') }}">Find out more!</a>
                                <ul>
                                    <li>Powerful Information Grouping</li>
                                    <li>Customer Tagging and Access Permissions</li>
                                    <li>Built in Data Transfer Protocols</li>
                                    <li></li>
                                </ul>
                            </div>
                        </td>

                        <td>
                            <div class="action">
                                <h3>Monitoring of your Data</h3>
                                <a class="input remember" href="{{ url_for('content.data_monitoring') }}">Find out more!</a>
                                <ul>
                                    <li>Data Status Updates</li>
                                    <li>Progress Tracking</li>
                                    <li>TODO Mailing Updates</li>
                                    <li></li>
                                </ul>
                            </div>
                        </td>

                        <td>
                            <div class="action">
                                <h3>Assessment of your Data</h3>
                                <a class="input remember" href="{{ url_for('content.data_analysis') }}">Find out more!</a>
                                <ul>
                                    <li>Detailed Reporting</li>
                                    <li>Detailed Quality Control Information</li>
                                    <li>Data Sharing</li>
                                    <li></li>
                                </ul>
                            </div>
                        </td>
                        #}
                        <td>
                            <div class="action">
                                <h3>Data Management</h3>

                                <ul>
                                    <li>End to End Data Management</li>
                                    <li>Consignor Infrastructure</li>
                                    <li>Data Collation via Projects</li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="action">
                                <h3>Data Processing</h3>

                                <ul>
                                    <li>Flexible Pipeline Model</li>
                                    <li>Built In Integration with HPC Infrastructures</li>
                                    <li>Online Display of Common File Formats</li>
                                    {# Analytics #}
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="action">
                                <h3>Real Time Feedback</h3>

                                <ul>
                                    <li>Real Time Visual Feedback</li>
                                    <li>Email Alerts</li>
                                    <li>Full Log Files for All Actions</li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="action">
                                <h3>Modular and Flexible Pipeline Architecture</h3>

                                <ul>
                                    <li>Live Deployment of Pipelines</li>
                                    <li>Full Control Using Pipeline Schemas</li>
                                    <li>Flexible Execution and User Specifiable Runtime Parameters</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="/static/js/index.js"></script>
{% endblock %}