{% extends "base.html" %}
{% block custom_css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="input-table clear">
    <div class="action exempt">
        {% block main %}
        {% endblock %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <!--{#
            <div class="col-md-2 col-md-15" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                <div class="spacer"></div>
                <div class="action">
                    <h3>BioCompute-DM: Data Management</h3>
                    <a class="input2 remember" href="{{ url_for('content.data_management') }}">Find Out More</a>
                    <ul>
                        <li>End to End Data Management</li>
                        <li>Client Infrastructure</li>
                        <li>Data Collation via Projects</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-md-15" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                <div class="spacer"></div>
                <div class="action">
                    <h3>BioCompute-DM: Data Processing Made Easy</h3>
                    <a class="input2 remember" href="{{ url_for('content.data_processing') }}">Find Out More</a>
                    <ul>
                        <li>Flexible Pipeline Model</li>
                        <li>Built In Integration with HPC Infrastructures</li>
                        <li>Online Display of Common File Formats</li>
                        {# Analytics #}
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-md-15" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                <div class="spacer"></div>
                <div class="action">
                    <h3>BioCompute-DM: Real Time Feedback</h3>
                    <a class="input2 remember" href="{{ url_for('content.data_monitoring') }}">Find Out More</a>
                    <ul>
                        <li>Real Time Visual Feedback</li>
                        <li>Email Alerts</li>
                        <li>Full Log Files for All Actions</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-md-15" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                <div class="spacer"></div>
                <div class="action">
                    <h3>BioCompute-DM: Modular and Flexible Pipeline Architecture</h3>
                    <a class="input2 remember" href="{{ url_for('content.data_pipelines') }}">Find Out More</a>
                    <ul>
                        <li>Live Deployment of Pipelines</li>
                        <li>Full Control Using Pipeline Schemas</li>
                        <li>Flexible Execution and User Specifiable Runtime Parameters</li>
                    </ul>
                </div>
            </div>
            #}-->
            <div class="col-md-2 col-md-15" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
            </div>
            <div class="col-md-2 col-md-15" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
            </div>
            <div class="col-md-2 col-md-15" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                <div class="spacer"></div>
                <div class="action">
                    <h3>BioCompute-DM: Example Workflows</h3>
                    <a class="input2 remember" href="{{ url_for('content.data_use_cases') }}">Find Out More</a>
                    <ul>
                        <li>Running a basic pipeline</li>
                        <li>Running a series of small pipelines</li>
                        <li>Creating a custom subset of your data for running on a pipeline.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-md-15" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
            </div>
            <div class="col-md-2 col-md-15" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="/static/js/index.js"></script>
{% endblock %}