{% extends "information_panel.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{{ super() }}
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<h4>Here you must choose how you wish your pipeline to be run.</h4>
<h4>Execution type allows you to select whether you wish to run the pipeline step by step or completely without your intervention.</h4>
<h4>Option choices allow you to select whether you wish to run a pipeline with the default properties or to tweak it.</h4>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Pipeline: {{ pipeline.name }}</h3>

        <div>
            <table class="content2">
                <tr>
                    <th>Pipeline Name</th>
                    <th>Pipeline Description</th>
                    <th>Pipeline Author</th>
                    <th>Pipeline Version</th>
                </tr>
                <tr>
                    <td>{{ pipeline.name }}</td>
                    <td>{{ pipeline.description }}</td>
                    <td>{{ pipeline.author }}</td>
                    <td>{{ pipeline.version }}</td>
                </tr>
            </table>
        </div>

        <div class="spacer"></div>

        <form action="{{ url_for('pipelines.build_pipeline_instance', pid=pid, oid=oid, runtime_type=runtime_type) }}" method=post>
            {{ form.hidden_tag() }}

            <h3>Please select the following runtime options:</h3>

            <table class="small_content">
                <tr><td>{{ form.execution_field.label }}</td><td>{{ form.execution_field }}</td></tr>
                <tr><td>{{ form.options_field.label }}</td><td>{{ form.options_field }}</td></tr>
                <tr><td colspan="2">{{ form.submit_field(class_="input") }}</td></tr>
            </table>

        </form>
    </div>
</div>
{% endblock %}