{% extends "information_panel.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
<link rel=stylesheet type="text/css" href="/static/css/square_cell.css">
{{ super() }}
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<p>Here you must choose how you wish your pipeline to be run.</p>
<p>Execution type allows you to select whether you wish to run the pipeline step by step or completely without your intervention.</p>
<p>Option choices allow you to select whether you wish to run a pipeline with the default properties or to tweak it.</p>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Pipeline: {{ pipeline.name }}</h3>

        <div>
            <table class="content">
                <tr>
                    <th>Pipeline Name</th>
                    <th>Pipeline Description</th>
                    <th>Pipeline Author</th>
                    <th>Pipeline Version</th>
                </tr>
                <tr>
                    <td>{{ pipeline.name }}</td>
                    <td>{{ pipeline.description }}</td>
                    <td>{{ pipeline.author }}</td>
                    <td>{{ pipeline.version }}</td>
                </tr>
            </table>
        </div>

        <div class="spacer"></div>

        <div class="input-table clear">
            <table class="table-resize">
                <tr>
                    <td></td>
                    {% for stage in pipeline.modules %}
                    <td class="resize img1 bg5">{{ stage.name }}</td>
                    {% endfor %}
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Pipeline Default Variables</h3>
        <table class="content">
            <tr>
                <th>Option Name</th>
                <th>Option Decription</th>
                <th>Default Value</th>
            </tr>

            {% for option in options %}
            {% if not option.necessary %}
            <tr>
                <td>{{ option.display_name }}</td>
                <td>{{ option.description }}</td>
                {% if option.user_interaction_type == "enum" %}
                <td>{{ option.default_value.split(',')[0] }}</td>
                {% else %}
                <td>{{ option.default_value }}</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Pipeline Run Options</h3>

        <form action="{{ url_for('pipelines.build_pipeline_instance', pid=pid, oid=oid) }}" method=post>
            {{ form.hidden_tag() }}

            <h4>Please select the following runtime options:</h4>

            <table class="small_content">
                <tr><td>{{ form.execution_field.label }}</td><td>{{ form.execution_field }}</td></tr>
                <tr><td>{{ form.options_field.label }}</td><td>{{ form.options_field }}</td></tr>
                <tr><td colspan="2">{{ form.submit_field(class_="input") }}</td></tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
{{ super() }}
<script src="/static/js/resizeTable.js"></script>
{% endblock %}