{% extends "base.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block content %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Module Information</h3>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Module Options</h3>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Module Status</h3>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Module Outputs</h3>

        {% include "data_lister.html" %}
    </div>
</div>
{% endblock %}