{% extends "information_panel.html" %}

{% block custom_css %}
{{ super() }}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<p>To the right is the step information for your selected pipeline instance</p>
<p>This information set includes any outputs and performance statistics associated with the step</p>
<p>Also included is a summary of any options that were applied to the module</p>
<p>Much of this information does not become available until after the module is finished</p>
{% endblock %}


{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Step Information</h3>

        <table class="content">
            <tr>
                <th>Step Name</th>
                <th>Containing Pipeline</th>
                <th>Step Description</th>
            </tr>

            <tr>
                <td>{{ module_instance.module.name }}</td>
                <td>{{ module_instance.instance.pipeline.name }}</td>
                <td>{{ module_instance.module.description }}</td>
            </tr>
        </table>

        <div class="spacer"></div>

        <a class="input" href="{{ url_for('pipelines.display_pipeline_instance', oid=module_instance.pipeline_instance.display_key) }}">Return</a>
    </div>

    {% if module_instance.option_values.all() | length > 0 %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Step Options</h3>

        <table class="content">
            <tr>
                <th>Option Information</th>
                <th>Option Value</th>
            </tr>
            {% for value in module_instance.option_values %}
            <tr>
                <td>{{ value.option.display_name }}</td>
                <td>{{ value.value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {# If the module has data && g.user.get_role() #}
    {% if module_instance.module_output and module_instance.module_output.data.all() | length > 0 %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Step Outputs</h3>

        {% for batch in module_instance.module_output.data | batch(4, 'empty') %}
        <div class="container-fluid">
            <div class="row">
                {% for data in batch %}
                {% if data != "empty" %}
                <div class="col-md-3" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                    <a href="{{ url_for('manage.display_data', item_id=module_instance.instance.display_key ~ '___' ~ module_instance.name ~ '___' file['name'], data_type='module') }}">{{ data.name }}</a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% elif files %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Module Files</h3>

        {% for batch in files | batch(4, 'empty') %}
        <div class="container-fluid">
            <div class="row">
                {% for file in batch %}
                {% if file != "empty" %}
                <div class="col-md-3" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                    <a href="{{ url_for('manage.display_data', item_id=file['name'], data_type='module_alt') }}">{{ file["name"] }}</a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}