{% extends "information_panel.html" %}

{% block custom_css %}
{{ super() }}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
<link rel=stylesheet type="text/css" href="/static/css/square_cell.css">
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<p>To the right, in the first panel, you can find basic information about this pipeline, including a description of its purpose.</p>
<p>The second panel contains a schematic representation of any of the steps involved within the pipeline.</p>
<p>The final panel offers any information about data prerequisites for pipeline execution and links to any available documentation.</p>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Pipeline Properties</h3>

        <table class="content2">
            <tr>
                <th>Pipeline Name</th>
                <th>Pipeline Description</th>
                <th>Pipeline Author</th>
                <th>Pipeline Version</th>
            </tr>
            <tr>
                <td>{{ pipeline.name }}</td>
                <td>{{ pipeline.description }}</td>
                <td>{{ pipeline.author }}</td>
                <td>{{ pipeline.version }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="spacer"></div>

<div class="input-table clear">
    <div class="action exempt">
        <h3>Pipeline Steps</h3>

        <table class="table-resize">
            <tr>
                <td></td>
                {% for stage in pipeline.modules %}
                <td class="resize img1 bg5">{{ stage.name }}</td>
                {% endfor %}
                <td></td>
            </tr>
        </table>
    </div>
</div>

<div class="input-table clear">
    <div class="action exempt">
        <h3>Pipeline Execution Details</h3>

        <h4>File regex: {{ pipeline.regex.split('###')|join(' ') }}</h4>
        <h4>Documentation: <a href="{{ url_for('pipelines.display_pipeline', pid=pipeline.display_key, download=1) }}">{{ pipeline.documentation }}</a></h4>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
{{ super() }}
<script src="/static/js/resizeTable.js"></script>
{% endblock %}