{% extends "paginated_information_panel.html" %}

{% block info_panel %}
<h3>Info</h3>
<p>The panel to the right shows the pipelines that have been run by you or your group members.</p>
{% endblock %}

{% block main_panel_view %}
<h3>Pipeline Runs</h3>
<table class="content">
    <tr>
        <th>Pipeline Name</th>
        <th>Version</th>
        <th>Type</th>
        <th>Current Step</th>
        <th>Pipeline Run Status</th>
    </tr>

    {% for pipeline_instance in obs.items %}
    <tr>
        <td><a href="{{ url_for('pipelines.display_pipeline_instance', oid=pipeline_instance.display_key) }}">{{ pipeline_instance.pipeline.name }}</a></td>
        <td>{{ pipeline_instance.pipeline.version }}</td>

        {% if pipeline_instance.pipeline.type == "I" %}
        <td>Pre Processing</td>
        {% elif pipeline_instance.pipeline.type == "II" %}
        <td>Processing</td>
        {% else %}
        <td>Post Processing</td>
        {% endif %}

        <td>{{ pipeline_instance.current_execution_index + 1 }}</td>
        <td>{{ pipeline_instance.current_execution_status }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block post_pagination %}
<div class="spacer"></div>

<a class="input" href="{{ url_for('pipelines.display_pipelines') }}">View Available Pipelines</a>
{% endblock %}