{% extends "information_panel.html" %}

{% block custom_css %}
{{ super() }}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
<link rel=stylesheet type="text/css" href="/static/css/square_cell.css">
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<h4>To the right is all of the information associated with your pipeline run.</h4>
<h4>It contains details on the the pipeline steps and links to their available information.</h4>
<h4>The current status of the overall pipeline execution is indicated in the 'pipe'.</h4>
<h4>Pipeline specific (as opposed to step specific) outputs are listed in a dedicated section when necessary.</h4>
<h4>Samples generated when the pipeline finishes are also detailed in a separate section.</h4>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Pipeline Properties</h3>

        <table class="content2">
            <tr>
                <th>Pipeline Name</th>
                <th>Pipeline Description</th>
                <th>Pipeline Author</th>
                <th>Pipeline Version</th>
                <th>Current Step</th>
                <th>Current Status</th>
            </tr>
            <tr>
                <td>{{ pipeline_instance.pipeline.name }}</td>
                <td>{{ pipeline_instance.pipeline.description }}</td>
                <td>{{ pipeline_instance.pipeline.author }}</td>
                <td>{{ pipeline_instance.pipeline.version }}</td>
                <td>{{ pipeline_instance.current_execution_index  + 1}}</td>
                <td>{{ pipeline_instance.current_execution_status }}</td>
            </tr>
        </table>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Pipeline Steps - Select a Step for More Information.</h3>

        <table>

            <tr>
                <th></th>
                {% for module_instance in pipeline_instance.module_instances %}
                <th class="resize_header">{{ "Step " ~ loop.index }}</th>
                {% endfor %}
                <th></th>
            </tr>

        </table>

        <table>

            <tr>
                <td></td>

                {% for module_instance in pipeline_instance.module_instances %}
                    {% if loop.index0 == pipeline_instance.current_execution_index %}
                        {% if pipeline_instance.current_execution_status == "WAITING" %}
                        <td class="resize img1 bg3">
                        {% elif pipeline_instance.current_execution_status == "RUNNING" %}
                        <td class="resize img1 bg1">
                        {% elif pipeline_instance.current_execution_status == "FINISHED" %}
                        <td class="resize img2 bg2">
                        {% elif pipeline_instance.current_execution_status == "ERROR" %}
                        <td class="resize img1 bg4">
                        {% elif pipeline_instance.current_execution_status == "STOPPED" %}
                        <td class="resize img1 bg6">
                        {% else %}
                        <td class="resize img2 bg5">
                        {% endif %}
                    {% elif loop.index0 < pipeline_instance.current_execution_index %}
                        {% if pipeline_instance.current_execution_status == "WAITING" %}
                        <td class="resize img2 bg3">
                        {% elif pipeline_instance.current_execution_status == "RUNNING" %}
                        <td class="resize img2 bg1">
                        {% elif pipeline_instance.current_execution_status == "FINISHED" %}
                        <td class="resize img2 bg2">
                        {% elif pipeline_instance.current_execution_status == "ERROR" %}
                        <td class="resize img2 bg4">
                        {% elif pipeline_instance.current_execution_status == "STOPPED" %}
                        <td class="resize img1 bg6">
                        {% else %}
                        <td class="resize img2 bg5">
                        {% endif %}
                    {% else %}
                        <td class="resize img2 bg5">
                    {% endif %}
                    <a style="display: block;" href="{{ url_for('pipelines.module_instance', oid=module_instance.display_key) }}">{{ module_instance.module.name }}</a>
                </td>
                {% endfor %}

                <td></td>
            </tr>
        </table>
    </div>

    {% if pipeline_instance.current_execution_status != "FINISHED" %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Pipeline Controls</h3>

        <table>
            <tr>
                {% if pipeline_instance.current_execution_status == "WAITING" %}
                <td style="border-width: 2px 0 2px 0"><a class="input fixed" href="{{ url_for('pipelines.continue_pipeline', oid=pipeline_instance.display_key) }}">Resume Pipeline Execution</a></td>
                {% endif %}

                {% if pipeline_instance.current_execution_status != 0 %}
                <td style="border-width: 2px 0 2px 0"><a class="input fixed" href="{{ url_for('pipelines.change_module', oid=pipeline_instance.display_key, change_type='back') }}">Redo Previous Step</a></td>
                {% endif %}

                <td style="border-width: 2px 0 2px 0"><a class="input fixed" href="{{ url_for('pipelines.change_module', oid=pipeline_instance.display_key, change_type='current') }}">Restart Current Step</a></td>

                {% if pipeline_instance.current_execution_index != pipeline_instance.module_instances.all()|length %}
                <td style="border-width: 2px 0 2px 0"><a class="input fixed" href="{{ url_for('pipelines.change_module', oid=pipeline_instance.display_key, change_type='next') }}">Force Next Step</a></td>
                {% endif %}

                <td style="border-width: 2px 0 2px 0"><a class="input fixed" href="{{ url_for('pipelines.restart_pipeline', oid=pipeline_instance.display_key) }}">Restart Pipeline</a></td>
                <td style="border-width: 2px 0 2px 0"><a class="input fixed" href="{{ url_for('pipelines.finish_pipeline', oid=pipeline_instance.display_key) }}">Quit and Remove Pipeline</a></td>
            </tr>
        </table>
    </div>
    {% endif %}

    {% if pipeline_instance.current_execution_status != "NOT_STARTED"  and datasets %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Pipeline Outputs</h3>

        {% include "data_lister.html" %}
    </div>
    {% endif %}

    {% if pipeline_instance.current_execution_status == "FINISHED" and pipeline_instance.samples.all()|length != 0 %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Generated Sample Data - Select for More Information</h3>

        {% for data_group in pipeline_instance.samples  | batch(4, 'empty') %}
        <div class="container-fluid">
            <div class="row">
                {% for sample in data_group %}
                {% if data != "empty" %}
                <div class="col-md-3" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                    <a href="{{ url_for('manage.sample_data', oid=sample.display_key, data_file=pipeline_instance.display_key) }}">{{ sample.name }}</a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block custom_scripts %}
{{ super() }}
<script src="/static/js/resizeTable.js"></script>
{% endblock %}