{% extends "base.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
<link rel=stylesheet type="text/css" href="/static/css/square_cell.css">
{% endblock %}

{% block content %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Pipeline Properties</h3>

        <table class="content2">
            <tr>
                <th>Pipeline Name</th>
                <th>Pipeline Description</th>
                <th>Pipeline Author</th>
                <th>Pipeline Version</th>
                <th>Current Status</th>
                <th>Current Execution Index</th>
            </tr>
            <tr>
                <td>{{ pipeline_instance.pipeline.name }}</td>
                <td>{{ pipeline_instance.pipeline.description }}</td>
                <td>{{ pipeline_instance.pipeline.author }}</td>
                <td>{{ pipeline_instance.pipeline.version }}</td>
                <td>{{ pipeline_instance.current_execution_status }}</td>
                <td>{{ pipeline_instance.current_execution_index }}</td>
            </tr>
        </table>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Pipeline Controls</h3>

        <table>
            <tr>
                {% if pipeline_instance.current_execution_status == "WAITING" %}
                <td><a href="{{ url_for('pipelines.continue_pipeline', oid=pipeline_instance.display_key) }}">Resume Pipeline Execution</a></td>
                {% endif %}

                <td><a class="input" href="{{ url_for('pipelines.restart_module', oid=pipeline_instance.display_key) }}">Restart Current Module</a></td>
                <td><a class="input" href="{{ url_for('pipelines.finish_current_module', oid=pipeline_instance.display_key) }}">Force Next Module</a></td>

                <td><a class="input" href="{{ url_for('pipelines.restart_pipeline', oid=pipeline_instance.display_key) }}">Restart Pipeline</a></td>
                <td><a class="input" href="{{ url_for('pipelines.finish_pipeline', oid=pipeline_instance.display_key) }}">Quit and Remove Pipeline</a></td>
            </tr>
        </table>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Module Information - Select a Module for More Information.</h3>

        <table class="table-resize">
            <tr>
                <td></td>

                {% for module_instance in pipeline_instance.module_instances %}
                    {% if loop.index0 == pipeline_instance.current_execution_index %}
                        {% if pipeline_instance.current_execution_status == "WAITING" %}
                        <td class="resize img1 bg3">
                        {% elif pipeline_instance.current_execution_status == "RUNNING" %}
                        <td class="resize img1 bg1">
                        {% elif pipeline_instance.current_execution_status == "FINISHED" %}
                        <td class="resize img2 bg2">
                        {% elif pipeline_instance.current_execution_status == "ERROR" %}
                        <td class="resize img1 bg4">
                        {% elif pipeline_instance.current_execution_status == "STOPPED" %}
                        <td class="resize img1 bg6">
                        {% else %}
                        <td class="resize img2 bg5">
                        {% endif %}
                    {% elif loop.index0 < pipeline_instance.current_execution_index %}
                        {% if pipeline_instance.current_execution_status == "WAITING" %}
                        <td class="resize img2 bg3">
                        {% elif pipeline_instance.current_execution_status == "RUNNING" %}
                        <td class="resize img2 bg1">
                        {% elif pipeline_instance.current_execution_status == "FINISHED" %}
                        <td class="resize img2 bg2">
                        {% elif pipeline_instance.current_execution_status == "ERROR" %}
                        <td class="resize img2 bg4">
                        {% elif pipeline_instance.current_execution_status == "STOPPED" %}
                        <td class="resize img1 bg6">
                        {% else %}
                        <td class="resize img2 bg5">
                        {% endif %}
                    {% else %}
                        <td class="resize img2 bg5">
                    {% endif %}
                    <a style="display: block;" href="{{ url_for('pipelines.module_instance', oid=module_instance.display_key) }}">{{ module_instance.module.name }}</a>
                </td>
                {% endfor %}

                <td></td>
            </tr>
        </table>
    </div>

    {% if pipeline_instance.current_execution_status != "NOT_STARTED" %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Pipeline Data</h3>

        {% include "data_viewer.html" %}
    </div>
    {% endif %}

    {% if pipeline_instance.current_execution_status == "FINISHED" %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Generated Sample Data - Select a Sample for More Information</h3>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block custom_scripts %}
<script src="/static/js/resizeTable.js"></script>
{% endblock %}