{% set admin_flag = True %}

{% extends "information_panel.html" %}

{% block info_panel %}
{% include "administrate_navigation.html" %}
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Add Group and Respective Administrator</h3>
        {% if title == "Client Creation" %}
        <form action="{{ url_for('admin.add_customer_group') }}" method=post>
        {% else %}
        <form action="{{ url_for('admin.add_group') }}" method=post>
        {% endif %}
            {{ form.hidden_tag() }}
            <table class="small_content">
                <tr>
                    <th>{{ form.group_name.label }}</th>
                    <td>{{ form.group_name }}</td>
                </tr>
                <tr>
                    <th>{{ form.admin_login.label }}</th>
                    <td>{{ form.admin_login }}</td>
                </tr>
                <tr>
                    <th>{{ form.admin_email.label }}</th>
                    <td>{{ form.admin_email }}</td>
                </tr>
                <tr>
                    <th>{{ form.admin_email_2.label }}</th>
                    <td>{{ form.admin_email_2 }}</td>
                </tr>
                <tr>
                    <th colspan="2">
                        {{ form.submit(class_="input") }}
                    </th>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}