<h3>Actions</h3>
<ul>
    <li><a class="input fixed" href="{{ url_for('admin.change_password', type='User') }}">Change Password</a></li>

    {% if g.user.get_role() == "Site Admin" %}
    <li><a class="input fixed" href="{{ url_for('admin.show_groups') }}">Show Groups</a></li>
    <li><a class="input fixed" href="{{ url_for('admin.add_group') }}">Add Group</a></li>
    {% endif %}

    {% if g.user.get_role() == "Group Admin" or g.user.get_role() == "Site Admin" %}
    <li><a class="input fixed" href="{{ url_for('admin.show_users') }}">Show Group Users</a></li>

    {% if g.user.type == "User" %}
    <li><a class="input fixed" href="{{ url_for('admin.add_user') }}">Add User to Group</a></li>

    {% elif g.user.type == "Customer" %}
    <li><a class="input fixed" href="{{ url_for('admin.add_customer') }}">Add User to Group</a></li>
    {% endif %}

    <li><a class="input fixed" href="{{ url_for('admin.change_password', type='Group') }}">Change Group Password</a></li>
    {% endif %}

    {% if g.user.type == "User" %}
    <li><a class="input fixed" href="{{ url_for('admin.show_clients') }}">Show Clients</a></li>
    {% if g.user.get_role() == "Group Admin" %}
    <li><a class="input fixed" href="{{ url_for('admin.add_customer_group') }}">Add Clients</a></li>
    {% endif %}

    <li><a class="input fixed" href="{{ url_for('pipelines.display_pipelines', display=1) }}">Show Pipelines</a></li>
    {% if g.user.get_role() == "Site Admin" %}
    <li><a class="input fixed" href="{{ url_for('pipelines.refresh_pipelines') }}">Refresh Pipelines</a></li>
    {% endif %}

    <li><a class="input fixed" href="{{ url_for('admin.display_reference_files') }}">Show Reference Files</a></li>
    {% if g.user.get_role() == "Site Admin" %}
    <li><a class="input fixed" href="{{ url_for('admin.refresh_reference_data') }}">Refresh Reference Files</a></li>
    {% endif %}
    {% endif %}
</ul>