{% set admin_flag = True %}

{% extends "information_panel.html" %}

{% block info_panel %}
{% include "administrate_navigation.html" %}
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        {% if type == "User" %}
        <h3>Change Your Password</h3>
        {% else %}
        <h3>Change Your Group Password</h3>
        {% endif %}

        <form action="{{ url_for('admin.change_password', type=type) }}" method=post>
            {{ form.hidden_tag() }}
            <table class="small_content">
                <tr>
                    <th>{{ form.old_password.label }}</th>
                    <td>{{ form.old_password }}</td>
                </tr>
                <tr>
                    <th>{{ form.new_password.label }}</th>
                    <td>{{ form.new_password }}</td>
                </tr>
                <tr>
                    <th>{{ form.new_password_2.label }}</th>
                    <td>{{ form.new_password_2 }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ form.submit(class_="input") }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}