{% extends "information_panel.html" %}

{% block info_panel %}
<h3>Info</h3>
<h4>Please log in using the credentials provided to you by your system / group administrator.</h4>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Login</h3>
        <form action="{{ url_for('admin.login') }}" method=post>
            <table class="small_content">
                {{ form.hidden_tag() }}
                <tr>
                    <th>{{ form.username.label }}</th>
                    <td colspan="2">{{ form.username }}</td>
                </tr>

                <tr>
                    <th>{{ form.password.label }}</th>
                    <td colspan="2">{{ form.password }}</td>
                </tr>

                <tr>
                    <td></td>
                    <td>{{ form.submit(class_="input") }}</td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}