{% set admin_flag = True %}

{% extends "paginated_information_panel.html" %}

{% block info_panel %}
{% include "administrate_navigation.html" %}
{% endblock %}

{% block main_panel_view %}
<h3>Reference Data Libraries</h3>
<table class="content">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Version</th>
        <th>Available</th>
    </tr>

    {% for item in obs.items %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.version}}</td>
        <td>{{item.current}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}