{% extends "information_panel.html" %}

{% block custom_css %}
{{ super() }}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<p>Use the panel on the right to select which clients you wish to share this data with.</p>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Potential Clients</h3>

        <form action="{{ url_for('admin.link_to_client', oid=obj.display_key, origin=origin) }}" method=post>

            <table class="content">
                <tr>
                    <th>Name</th>
                    <th>Group Type</th>
                    <th>Link?</th>
                </tr>

                {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.type }}</td>
                    <td><input type="checkbox" name="do_select" value="{{ client.display_key }}"></td>
                </tr>
                {% endfor %}
            </table>

            {{ form.submit(class_="input") }}
        </form>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
{{ super() }}
<script src="/static/js/selectContent.js"></script>
{% endblock %}