{% extends "information_panel.html" %}

{% block custom_css %}
{{ super() }}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
<link rel=stylesheet type="text/css" href="/static/css/square_cell.css">
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<p>The panels on the right show the current details of your data group.</p>
<p>This includes information on the pipelines type currently associated with the data group.</p>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Data Group Properties</h3>

        <table class="content">
            <tr>
                <th>Name</th>
                <th>Group Source</th>
                <th>Number of Datasets</th>
                <th>Creation Date</th>
                <th>Updated Date</th>
                <th>Source</th>
            </tr>
            <tr>
                <td>{{ data_group.name }}</td>
                <td>{{ data_group.group.name }}</td>
                <td>{{ data_group.data.all()|length }}</td>
                <td>{{ data_group.creation_date }}</td>
                <td>{{ data_group.updated_date }}</td>
                {% if data_group.pipeline_source %}
                <td><a href="{{ url_for('pipelines.display_pipeline_instance', oid=data_group.pipeline_source.display_key) }}">{{ data_group.pipeline_source.pipeline.name }}</a></td>
                {% else %}
                <td>{{ data_group.user.username }}</td>
                {% endif %}
            </tr>
        </table>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Data Items</h3>

        <table class="content">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Update Date</th>
                <th>Associated Sample</th>
            </tr>

            {% for data in data_group.data %}
            <tr>
                <td><a href="{{ url_for('manage.display_data', item_id=data.display_key, data_type=data_type) }}">{{ data.name }}</a></td>
                <td>{{ data.description }}</td>
                <td>{{ data.creation_date }}</td>
                <td>{{ data.updated_date }}</td>
                {% if data.sample %}
                <td>
                    {% if g.user.type == "User" %}
                    <a href="{{ url_for('manage.sample', oid=data.sample.display_key) }}">{{ data.sample.name }}</a>
                    {% else %}
                    {{ data.sample.name }}
                    {% endif %}
                </td>
                {% else %}
                <td>None</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    {% if g.user.type == "User" %}
    {% if g.user.get_role() != "Site Admin" %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Select a Pipeline to Run on this Data Group</h3>

        <a class="input" href="{{ url_for('manage.data_group', oid=data_group.display_key, data_type=data_type, option=1) }}">Refresh available pipelines</a>

        <div id="toggle"><h4>No current pipeline - please select a pipeline to begin a run</h4></div>
        <select class="selection">
            <option selected value="None">None</option>
            {% for pipeline in pipelines %}
            <option value="{{ pipeline.name ~ ': ' ~ pipeline.version }}">{{ pipeline.name ~ ': ' ~ pipeline.version }}</option>
            {% endfor %}
        </select>

        {% for pipeline in pipelines %}

        <div id="{{ loop.index }}" class="description" style="display: none">

            <div class="spacer"></div>

            <table class="content2">
                <tr>
                    <th>Pipeline Name</th>
                    <th>Pipeline Description</th>
                    <th>Pipeline Author</th>
                    <th>Pipeline Version</th>
                </tr>
                <tr>
                    <td>{{ pipeline.name }}</td>
                    <td>{{ pipeline.description }}</td>
                    <td>{{ pipeline.author }}</td>
                    <td>{{ pipeline.version }}</td>
                </tr>
            </table>

            <div class="spacer"></div>

            <div class="input-table clear">
                <table class="table-resize">
                    <tr>
                        <td></td>
                        {% for stage in pipeline.modules %}
                        <td class="resize img1 bg5">{{ stage.name }}</td>
                        {% endfor %}
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="spacer"></div>

            <a class="input" href="{{ url_for('pipelines.build_pipeline_instance', oid=data_group.display_key, pid=pipeline.display_key) }}">Select</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% for running_pipeline in running_pipelines %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Currently running pipelines</h3>

        <table class="content2">
            <tr>
                <th>Pipeline Name</th>
                <th>Pipeline Description</th>
                <th>Pipeline Author</th>
                <th>Pipeline Version</th>
            </tr>
            <tr>
                <td>{{ running_pipeline.pipeline.name }}</td>
                <td>{{ running_pipeline.pipeline.description }}</td>
                <td>{{ running_pipeline.pipeline.author }}</td>
                <td>{{ running_pipeline.pipeline.version }}</td>
            </tr>
        </table>

        <div class="spacer"></div>

        <a class="input" href="{{ url_for('pipelines.display_pipeline_instance', oid=running_pipeline.display_key) }}">View Pipeline Instance</a>

        <div class="spacer"></div>

        <div class="input-table clear">
            <table class="table-resize">
                <tr>
                    <td></td>

                    {% for module_instance in running_pipeline.module_instances %}
                    {% if loop.index0 == running_pipeline.current_execution_index %}
                    {% if running_pipeline.current_execution_status == "WAITING" %}
                    <td class="resize img1 bg3">
                    {% elif running_pipeline.current_execution_status == "RUNNING" %}
                    <td class="resize img1 bg1">
                    {% elif running_pipeline.current_execution_status == "FINISHED" %}
                    <td class="resize img2 bg2">
                    {% elif running_pipeline.current_execution_status == "ERROR" %}
                    <td class="resize img1 bg4">
                    {% elif running_pipeline.current_execution_status == "NOT_STARTED" %}
                    <td class="resize img1 bg5">
                    {% elif running_pipeline.current_execution_status == "STOPPED" %}
                    <td class="resize img1 bg6">
                    {% endif %}
                    {% elif loop.index0 < running_pipeline.current_execution_index %}
                    {% if running_pipeline.current_execution_status == "WAITING" %}
                    <td class="resize img2 bg3">
                    {% elif running_pipeline.current_execution_status == "RUNNING" %}
                    <td class="resize img2 bg1">
                    {% elif running_pipeline.current_execution_status == "FINISHED" %}
                    <td class="resize img2 bg2">
                    {% elif running_pipeline.current_execution_status == "ERROR" %}
                    <td class="resize img2 bg4">
                    {% elif running_pipeline.current_execution_status == "NOT_STARTED" %}
                    <td class="resize img2 bg5">
                    {% elif running_pipeline.current_execution_status == "STOPPED" %}
                    <td class="resize img2 bg6">
                    {% endif %}
                    {% else %}
                    <td class="resize img2 bg5">
                    {% endif %}

                        <a style="display: block;" href="{{ url_for('pipelines.module_instance', pid=running_pipeline.display_key, oid=module_instance.display_key) }}">{{ module_instance.module.name }}</a>
                    </td>
                    {% endfor %}
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block custom_scripts %}
{{ super() }}

<script src="/static/js/selectContent.js"></script>
<script src="/static/js/resizeTable.js"></script>
{% endblock %}