{% extends "information_panel.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{{ super() }}
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<p>A project allows a custom aggregation of samples and pipeline outputs.</p>
<p>Use the panel on the right to set the initial properties of your project.</p>
<p>From there on you may select from all of the relevant samples and add them in their respective pages.</p>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action">
        <h3>New Project</h3>

        <form action="{{ url_for('manage.new_project') }}" method=post>
            {{ form.hidden_tag() }}
            <table class="small_content">
                <tr>
                    <td>{{ form.investigation_name.label }}</td>
                    <td>{{ form.investigation_name }}</td>
                    <td>
                </tr>
                <tr>
                    <td>{{ form.investigation_description.label }}</td>
                    <td>{{ form.investigation_description }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ form.submit }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}