{% extends "base.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block content %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Submission Properties</h3>
        <form action="{{ url_for('manage.new_submission') }}"  method=post>
            {{ form.hidden_tag() }}

            <div class="action exempt">
                <h3>Currently Staged Files - Select those to be included in your submission.</h3>

                <table class="content">
                    <tr>
                        <th>File Name</th>
                        <th>File Size (bytes)</th>
                        <th>File Creation Date</th>
                        <th>Submit?</th>
                    </tr>

                    {% for file in files %}
                    <tr>
                        <td>{{ file["name"] }}</td>
                        <td>{{ file["size"] }}</td>
                        <td>{{ file["date"] }}</td>
                        <td><input type="checkbox" name="do_select" value="{{ file['name'] }}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="spacer"></div>

            <table class="small_content">
                <tr>
                    <td>
                        {{ form.hidden_tag() }}
                        <table class="internal">
                            <tr>
                                <td>{{ form.submission_name.label }}</td>
                                <td>{{ form.submission_name }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="internal">
                            <tr>
                                <td>{{ form.submission_description.label }}</td>
                                <td>{{ form.submission_description }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.submit(class_="input") }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}