{% extends "information_panel.html" %}

{% block custom_css %}
{{ super() }}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<p>A sample group allows a custom aggregation of samples to be supplied to a pipeline.</p>
<p>In order to create a custom sample group please select the pipeline type where the data will come from.</p>
<p>From there you may select from all of the relevant samples and add them..</p>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>New Sample Group Information</h3>

        <form action="{{ url_for('manage.new_sample_group') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.hidden_tag() }}

            <div class="input-table clear">
                <table class="small_content">
                    <tr>
                        <td>
                            <table class="internal">
                                <tr>
                                    <td>{{ form.name.label }}</td>
                                    <td colspan="2"><div class="cell_content">{{ form.submission_name }}</div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="spacer"></div>

            <div class="input-table clear">
                <table class="content3">
                    <tr>
                        <th>Sample Name</th>
                        <th>Sample Source</th>
                        <th>Sample Creation Date</th>
                        <th>Select?</th>
                    </tr>

                    {% for sample in samples %}
                    <tr>
                        <td>{{ sample.name }}</td>
                        <td>{{ sample.pipeline_source.name }}</td>
                        <td>TODO</td>
                        <td><input type="checkbox" name="do_select" value="{{ sample.display_key }}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="spacer"></div>

            {{ form.submit(class_="input") }}
        </form>
    </div>
</div>
{% endblock %}