{% extends "information_panel.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{{ super() }}
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<ul>
    <li><h4>A project allows a custom aggregation of samples and sample groups.</h4></li>
    <li><h4>Use the panel on the right to set the initial properties of your project.</h4></li>
    <li><h4>From there on you may select from all of the relevant samples and add them.</h4></li>
</ul>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action">
        <h3>New Project</h3>

        <form action="{{ url_for('manage.new_project') }}" method=post>
            <table class="small_content">
                <tr>
                    <td>
                        {{ form.hidden_tag() }}
                        <table class="internal">
                            <tr>
                                <td>{{ form.investigation_name.label }}</td>
                                <td>{{ form.investigation_name }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="internal">
                            <tr>
                                <td>{{ form.investigation_description.label }}</td>
                                <td>{{ form.investigation_description }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.submit }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}