{% extends "information_panel.html" %}

{% block custom_css %}
{{ super() }}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
<link rel=stylesheet type="text/css" href="/static/css/square_cell.css">
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<h4>The panels on the right show the current details of your project.</h4>
<h4>Also listed are any associated data sets.</h4>
<h4>Data sets can be added on the respective data set's page.</h4>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Project Properties</h3>

        <table class="content">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Last Updated</th>
            </tr>
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.creation_date }}</td>
                <td>{{ project.updated_date }}</td>
            </tr>
        </table>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Project Samples</h3>

        {% if project.samples.all()|length > 0 %}
        <table class="content">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Updated Date</th>
            </tr>

            {% for sample in project.samples %}
            <tr>
                <td><a href="{{ url_for('manage.sample', oid=sample.display_key) }}">{{ sample.name }}</a></td>
                <td>{{ sample.description }}</td>
                <td>{{ sample.creation_date }}</td>
                <td>{{ sample.updated_date }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h4>There are currently no linked samples!</h4>
        {% endif %}
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Project Pipeline Outputs</h3>

        {% if project.pipeline_outputs.all()|length > 0 %}
        <table class="content">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Updated Date</th>
            </tr>

            {% for pipeline_output in project.pipeline_outputs %}
            <tr>
                <td><a href="{{ url_for('manage.data_group', oid=pipeline_output.display_key, data_type='pipeline') }}">{{ pipeline_output.name }}</a></td>
                <td>{{ pipeline_output.description }}</td>
                <td>{{ pipeline_output.creation_date }}</td>
                <td>{{ pipeline_output.updated_date }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h4>There are currently no linked pipeline outputs!</h4>
        {% endif %}
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Project Documents</h3>

        {% if project.documents|length > 0 %}

        <div class="spacer"></div>
        <table class="content3">
            <tr>
                <th>Document Name</th>
                <th>Document Description</th>
                <th>Remove?</th>
            </tr>
            {% for document in project.documents %}
            <tr>
                <td>{{ document.name }}</td>
                <td>{{ document.description }}</td>
                <td><a href="{{ url_for('manage.remove_document', oid=project.display_key, did=document.display_key)}}">Remove</a></td>
            </tr>
            {% endfor %}
        </table>

        <div class="spacer"></div>
        {% else %}
        <h4>There are currently no linked documents!</h4>
        {% endif %}

        {% if g.user.get_role() != "Site Admin" %}
        <a class="input" href="{{ url_for('manage.add_document', oid=project.display_key) }}">Add a document</a>
        {% endif %}
    </div>

    {% if g.user.type == "User" and g.user.get_role() != "Site Admin" %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Manage</h3>

        <table>
            <tr>
                <td><a class="input" href="{{ url_for('admin.link_to_customer', oid=project.display_key, origin='project') }}">Share with Consignor</a></td>
            </tr>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}