{% extends "paginated_information_panel.html" %}

{% block info_panel %}
<h3>Info</h3>
<p>The panel to the right shows the projects that have been created by you or your group members.</p>
<p>Projects are groupings of outputs from a pipeline. These can either be by sample or pipeline specific outputs.</p>
{% endblock %}

{% block main_panel_view %}
<h3>Projects</h3>
<table class="content">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Creator</th>
        <th>Creation Date</th>
        <th>Updated Date</th>
    </tr>

    {% if obs %}
    {% for item in obs.items %}
    <tr>
        <td><a href="{{ url_for('manage.project', oid=item.display_key) }}">{{ item.name }}</a></td>
        <td>{{ item.description }}</td>
        <td>{{ item.user.username }}</td>
        <td>{{ item.creation_date }}</td>
        <td>{{ item.updated_date }}</td>
    </tr>
    {% endfor %}
    {% endif %}

</table>
{% endblock %}

{% block post_pagination %}
{% if g.user.type == "User" %}
<div class="spacer"></div>

<a class="input" href="{{ url_for('manage.new_project') }}">Create a New Project</a>
{% endif %}
{% endblock %}