{% extends "paginated_information_panel.html" %}

{% block info_panel %}
<h3>Info</h3>
<h4>The panel to the right shows the samples that have been created using pipelines by you and the members of your group.</h4>
{% endblock %}

{% block main_panel_view %}
<h3>Samples</h3>
<table class="content">
    <tr>
        <th>Sample Name</th>
        <th>Number of Data Sets</th>
        <th>Submission Source</th>
        <th>Pipeline Source</th>
    </tr>

    {% if obs %}
    {% for item in obs.items %}
    <tr>
        <td><a href="{{ url_for('manage.sample', oid=item.display_key) }}">{{ item.name }}</a></td>
        <td>{{ item.data.all()|length }}</td>
        <td>{{ item.pipeline_source.pipeline.name }}</td>
        {% autoescape false %}
        <td><a href="{{ url_for('pipelines.display_pipeline_instance', oid=item.pipeline_source.display_key) }}">{{ item.pipeline_source.pipeline.generate_display() }}</a></td>
        {% endautoescape %}
    </tr>
    {% endfor %}
    {% endif %}

</table>
{% endblock %}