{% extends "information_panel.html" %}

{% block custom_css %}
{{ super() }}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<p>The panel to the right shows the samples that have been created using pipelines by you and the members of your group.</p>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Samples</h3>
        <table class="content">
            <tr>
                <th>Sample Name</th>
                <th>Creation Date</th>
                <th>Last Updated</th>
                <th>Pipeline Source</th>
                <th>Number of Data Sets</th>
            </tr>

            {% if obs %}
            {% for item in obs.items %}
            <tr>
                <td><a href="{{ url_for('manage.sample', oid=item.display_key) }}">{{ item.name }}</a></td>
                <td>{{ item.creation_date }}</td>
                <td>{{ item.updated_date }}</td>
                {% if item.pipeline_source is None %}
                <td>Deleted</td>
                {% else %}
                {% autoescape false %}
                <td><a href="{{ url_for('pipelines.display_pipeline_instance', oid=item.pipeline_source.display_key) }}">{{ item.pipeline_source.pipeline.generate_display() }}</a></td>
                {% endautoescape %}
                {% endif %}
                <td>{{ item.data.all()|length }}</td>
            </tr>
            {% endfor %}
            {% endif %}

        </table>

        {{ show_paginate(obs.has_next, obs.has_prev, obs.page, "manage.samples") }}
    </div>
</div>
{% endblock %}