{% extends "paginated_information_panel.html" %}

{% block info_panel %}
<h3>Info</h3>
<h4>The panel to the right shows the groups of samples that have been created by you, your group members or by pipelines after they have finished execution.</h4>
{% endblock %}

{% block main_panel_view %}
<h3>Sample Groups</h3>
<table class="content">
    <tr>
        <th>Name</th>
        <th>Group</th>
        <th>Number of Samples</th>
        <th>Source</th>
    </tr>

    {% if obs %}
    {% for item in obs.items %}
    <tr>
        <td><a href="{{ url_for('manage.sample_group', oid=item.display_key) }}">{{ item.name }}</a></td>
        <td>{{ item.group.name }}</td>
        <td>{{ item.samples.all()|length }}</td>
        <td>{{ item.creator.username }}</td>
    </tr>
    {% endfor %}
    {% endif %}

</table>
{% endblock %}