{% extends "information_panel.html" %}

{% block custom_css %}
{{ super() }}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<p>To the right is any information available about this sample</p>
<p>This includes any available data sets (pipeline outputs)</p>
<p>Also available are a some management tools, the options here are dependant on your privileges</p>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Sample Information</h3>

        <table class="content">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Updated Date</th>
            </tr>

            <tr>
                <td>{{ sample.name }}</td>
                <td>{{ sample.description }}</td>
                <td>{{ sample.creation_date }}</td>
                <td>{{ sample.updated_date }}</td>
            </tr>
        </table>
    </div>

    {% if sample.data %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Data Items</h3>

        <table class="content">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Update Date</th>
                <th>Data Group</th>
            </tr>

            {% for data in sample.data %}
            <tr>
                <td><a href="{{ url_for('manage.display_data', item_id=data.display_key, data_type='sample') }}">{{ data.name }}</a></td>
                <td>{{ data.description }}</td>
                <td>{{ data.creation_date }}</td>
                <td>{{ data.updated_date }}</td>
                {% if g.user.type == "User" %}
                <td><a href="{{ url_for('manage.data_group', oid=data.data_group.display_key, data_type='sample') }}">{{ data.data_group.name }}</a></td>
                {% else %}
                <td>{{ data.data_group.name }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if g.user.type == "User" and g.user.get_role() != "Site Admin" %}
    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Manage</h3>

        <a class="input" href="{{ url_for('manage.link_to_project', oid=sample.display_key, data_type='sample') }}">Link Sample Data to Project</a>
        <a class="input" href="{{ url_for('manage.copy_to_staging_drive', oid=sample.display_key, data_type='sample') }}">Copy Sample Data to Staging Drive</a>

    </div>
    {% endif %}
</div>
{% endblock %}