{% extends "paginated_information_panel.html" %}

{% block info_panel %}
<h3>Info</h3>
<h4>The panel to your right shows all the submissions created by you and your group.</h4>
<h4>Submissions are required in order to begin a pipeline's execution.</h4>
{% endblock %}

{% block main_panel_view %}
<h3>Submissions</h3>
<table class="content">
    <tr>
        <th>Submission Name</th>
        <th>Submission Description</th>
        <th>Creation Date</th>
        <th>Created By</th>
    </tr>

    {% if obs %}
    {% for submission in obs.items %}
    <tr>
        <td><a href="{{ url_for('manage.submission', oid=submission.display_key) }}">{{ submission.name }}</a></td>
        <td>{{ submission.description }}</td>
        <td>{{ submission.creation_date }}</td>
        <td>{{ submission.user.username }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endblock %}

{% block post_pagination %}
<div class="spacer"></div>

<a class="input" href="{{ url_for('manage.new_submission') }}">Select Data to Submit To a Pipeline</a>
{% endblock %}