{% extends "base.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
<link rel=stylesheet type="text/css" href="/static/css/square_cell.css">
{% endblock %}

{% block content %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Submission: {{ submission.name }}</h3>

        <ul>
            <li>{{ submission.description }}</li>
        </ul>

        <table class="content">
            <tr>
                <th>File Name</th>
                <th>File Size (bytes)</th>
                <th>File Creation Date</th>
            </tr>

            {% for file in files %}
            <tr>
                <td>{{ file["name"] }}</td>
                <td>{{ file["size"] }}</td>
                <td>{{ file["date"] }}</td>
            </tr>
            {% endfor %}
        </table>

        <table class="pagenator">
            <tr>
                <td></td>
                <td>&lt;&lt;</td>
                <td>
                    {% if has_prev %}
                    <a href="{{ url_for(request.endpoint, page=obs.prev_num) }}">Previous</a>
                    {% else %}
                    Previous
                    {% endif %}
                </td>
                <td>|</td>
                <td>
                    {% if has_next %}
                    <a href="{{ url_for(request.endpoint, page=obs.next_num) }}">Next</a>
                    {% else %}
                    Next
                    {% endif %}
                </td>
                <td>&gt;&gt;</td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Currently Running Pipeline</h3>

        {% if submission.current_pipeline %}
        <table class="content2">
            <tr>
                <th>Pipeline Name</th>
                <th>Pipeline Description</th>
                <th>Pipeline Author</th>
                <th>Pipeline Version</th>
            </tr>
            <tr>
                <td>{{ submission.current_pipeline.pipeline.name }}</td>
                <td>{{ submission.current_pipeline.pipeline.description }}</td>
                <td>{{ submission.current_pipeline.pipeline.author }}</td>
                <td>{{ submission.current_pipeline.pipeline.version }}</td>
            </tr>
        </table>

        <div class="spacer"></div>

        <a class="input" href="{{ url_for('pipelines.display_pipeline_instance', pid=submission.current_pipeline.display_key) }}">View Pipeline Instance</a>

        <div class="spacer"></div>

        <div class="input-table clear">
            <table class="table-resize">
                <tr>
                    <td></td>
                    {% for stage in submission.current_pipeline.pipeline.modules %}
                    {% if loop.last %}
                    {% if submission.current_pipeline.current_execution_status == "WAITING" %}
                    <td class="resize img1 bg1">{{ stage.name }}</td>
                    {% elif submission.current_pipeline.current_execution_status == "RUNNING" %}
                    <td class="resize img1 bg2">{{ stage.name }}</td>
                    {% elif submission.current_pipeline.current_execution_status == "FINISHED" %}
                    <td class="resize img2 bg3">{{ stage.name }}</td>
                    {% elif submission.current_pipeline.current_execution_status == "ERROR" %}
                    <td class="resize img1 bg4">{{ stage.name }}</td>
                    {% elif submission.current_pipeline.current_execution_status == "NOT_STARTED" %}
                    <td class="resize img1 bg5">{{ stage.name }}</td>
                    {% endif %}
                    {% else %}
                    {% if submission.current_pipeline.current_execution_status == "WAITING" %}
                    <td class="resize img2 bg1">{{ stage.name }}</td>
                    {% elif submission.current_pipeline.current_execution_status == "RUNNING" %}
                    <td class="resize img2 bg2">{{ stage.name }}</td>
                    {% elif submission.current_pipeline.current_execution_status == "FINISHED" %}
                    <td class="resize img2 bg3">{{ stage.name }}</td>
                    {% elif submission.current_pipeline.current_execution_status == "ERROR" %}
                    <td class="resize img2 bg4">{{ stage.name }}</td>
                    {% elif submission.current_pipeline.current_execution_status == "NOT_STARTED" %}
                    <td class="resize img2 bg5">{{ stage.name }}</td>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    <td></td>
                </tr>
            </table>
        </div>

        {% else %}
        <div id="toggle"><h4>No current pipeline - please select a pipeline to begin a run</h4></div>
        <select class="selection">
            <option selected value="None">None</option>
            {% for pipeline in pipelines %}
            <option value="{{ pipeline.name ~ ': ' ~ pipeline.version }}">{{ pipeline.name ~ ': ' ~ pipeline.version }}</option>
            {% endfor %}
        </select>

        <div class="spacer"></div>

        {% for pipeline in pipelines %}
        <div id="{{ pipeline.name ~ ': ' ~ pipeline.version }}" class="description" style="display: none">
            <table class="content2">
                <tr>
                    <th>Pipeline Name</th>
                    <th>Pipeline Description</th>
                    <th>Pipeline Author</th>
                    <th>Pipeline Version</th>
                </tr>
                <tr>
                    <td>{{ pipeline.name }}</td>
                    <td>{{ pipeline.description }}</td>
                    <td>{{ pipeline.author }}</td>
                    <td>{{ pipeline.version }}</td>
                </tr>
            </table>
            <div class="spacer"></div>
            <a class="input" href="{{ url_for('pipelines.build_pipeline_instance', oid=submission.display_key, pid=pipeline.display_key, runtime_type='submission') }}">Select</a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="/static/js/selectContent.js"></script>
<script src="/static/js/resizeTable.js"></script>
{% endblock %}