{% extends "base.html" %}
{% block content %}
<div class="input-table clear">
    <table>
        <tr>
            <div class="action">
                <h3>SFTP Client</h3>
                {# <!-- Applet goes here! --> #}
                <ul>
                    <li>Do not close out your web page whilst uploading.</li>
                    <li>If your upload gets interrupted it should be possible to continue uploading.</li>
                </ul>
            </div>
        </tr>
    </table>
</div>
{% endblock %}