{% extends "information_panel.html" %}

{% block custom_css %}
{{ super() }}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block info_panel %}
<h3>Info</h3>
<p>The panels on the right list the files uploaded or available for download.</p>
{% endblock %}

{% block main_panel %}
<div class="input-table clear">
    <div class="action exempt">
        <h3>Currently Staged Files</h3>

        <table class="content">
            <tr>
                <th>File Name</th>
                <th>File Size (bytes)</th>
                <th>File Creation Date</th>
            </tr>

            {% for file in files %}
            <tr>
                <td>{{ file["name"] }}</td>
                <td>{{ file["size"] }}</td>
                <td>{{ file["date"] }}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="spacer"></div>

        <table class="pagenator">
            <tr>
                <td></td>
                <td>&lt;&lt;</td>
                <td>
                    {% if has_prev %}
                    <a href="{{ url_for(request.endpoint, page=obs.prev_num) }}">Previous</a>
                    {% else %}
                    Previous
                    {% endif %}
                </td>
                <td>|</td>
                <td>
                    {% if has_next %}
                    <a href="{{ url_for(request.endpoint, page=obs.next_num) }}">Next</a>
                    {% else %}
                    Next
                    {% endif %}
                </td>
                <td>&gt;&gt;</td>
                <td></td>
            </tr>
        </table>

        <div class="spacer"></div>

        <a class="input" href="{{ url_for('manage.upload_data') }}">Upload Files to Staging Drive</a>
    </div>
</div>
{% endblock %}