{% extends "base.html" %}
{% block custom_css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="input-table clear">
    <table>
        <tr>
            <td>
                <div class="action">
                    <h3>Upload Data</h3>
                    <a class="input" href="{{ url_for('manage.upload_data') }}">Upload a new dataset</a>
                    <ul>
                        <li>Allows you to upload data to Biocompute-DM's file system</li>
                        <li>Files must be either .zip or .gz</li>
                        <li>Files will be placed in a quarantined zone.</li>
                        <li>Unzipped file structures should contain no directories (i.e. after unzipping, only data files are present).</li>
                        <li>Uploaded data can be added to Biocompute-DM's management framework by choosing the submit data option.</li>
                        <li>The data are unzipped when you add them to a submission.</li>
                    </ul>
                </div>
            </td>

            <td>
                <div class="action">
                    <h3>Submit Data</h3>
                    <a class="input" href="{{ url_for('manage.new_submission') }}">Submit a new dataset</a>
                    <ul>
                        <li>Submit a dataset from your uploaded files or from your group's directory</li>
                        <li>Submitted data must be directly below its containing folder (e.g. /upload1/data_file_1)</li>
                        <li>Submitted data (from your upload directory) becomes visible to your group once added</li>
                        <li>Submitted data can then be deconvoluted using available plugins to  generate per sample information</li>
                    </ul>
                </div>
            </td>

            <td>
                <div class="action">
                    <h3>Create a Sample Group</h3>
                    <a class="input" href="{{ url_for('manage.new_sample_group') }}">Add a New Sample Group</a>
                    <ul>
                        <li>Use this option to create a custom grouping of samples.</li>
                        <li>Please note that all of the samples grouped together must have come from the same pipeline type</li>
                    </ul>
                </div>
            </td>

            <td>
                <div class="action">
                    <h3>Create a Project</h3>
                    <a class="input" href="{{ url_for('manage.new_project') }}">Add a New Project</a>
                    <ul>
                        <li>Use this option to create a new project.</li>
                        <li>Projects can be used to group samples, sample groups and documents.</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="/static/js/index.js"></script>
{% endblock %}