{% extends "index.html" %}
{% block custom_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/content.css">
{% endblock %}

{% block main %}
<h3>Data Processing</h3>
<div>
    <h1>Sequencing Pipeline</h1>
    <img src="/static/images/sequencing_pipeline.PNG">
    <table class="image-text">
        <tr>
            <td>
                <p>SFTP</p>
                <p>Cluster Storage</p>
            </td>
            <td>
                <p>File and sample counts</p>
                <p>Raw file statistics</p>
                <p>Signal Quality</p>
            </td>
            <td>
                <p>Sample extraction</p>
                <p>Index removal</p>
                <p>Adaptor removal</p>
            </td>
            <td>
                <p>Problem highlighting</p>
                <p>Graphical summary</p>
                <p>Stored outcomes</p>
            </td>
            <td>
                <p>Contamination removal (optional)</p>
            </td>
            <td>
                <p>SNP Calling</p>
                <p>Indel Detection</p>
                <p>Variant Detection</p>
            </td>
            <td>
                <p>Alignment reporting</p>
                <p>Visualization per sample</p>
            </td>
        </tr>
    </table>
</div>
{% endblock %}