{% extends "index.html" %}
{% block main %}
<h3>Data Assessment</h3>
<h1>Detailed Report</h1>
<table>
    <tr>
        <td>
            <p>Raw File Statistics</p>
        </td>
        <td>
            <p>Demultiplexing Statistics</p>
            <img src="/static/images/demux.png">
        </td>
        <td>
            <p>FastQC Reporting</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/FastQC_graph.jpg">
        </td>
        <td>
            <p>Post Alignment QC</p>
        </td>
    </tr>
</table>
{% endblock %}