{% extends "base.html" %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="/static/css/administrate.css?v=9">
{% endblock %}

{% block content %}
<table>
    <tr>
        <td class="left administrate">
            <div class="input-table clear">
                <div class="action exempt">
                    <h3>Actions</h3>
                    <ul>
                        {% if g.user.get_role() == "Site Admin" %}
                        <li><a class="input" href="#">Show Pipelines</a></li>
                        <li><a class="input" href="{{ url_for('refresh_pipelines') }}">Refresh Pipelines</a></li>
                        <li><a class="input" href="{{ url_for('test_pipeline') }}">Test Pipeline!</a></li>
                        <li><a class="input" href="{{ url_for('show_groups') }}">Show Groups</a></li>
                        <li><a class="input" href="{{ url_for('add_group') }}">Add Group</a></li>
                        {% endif %}

                        <li><a class="input" href="{{ url_for('show_users') }}">Show Users</a></li>
                        {% if g.user.get_role() == "Group Admin" %}
                        <li><a class="input" href="{{ url_for('add_user') }}">Add User</a></li>
                        {% endif %}

                        <li><a class="input" href="{{ url_for('show_customers') }}">Show Customers</a></li>
                        {% if g.user.get_role() == "Group Admin" %}
                        <li><a class="input" href="{{ url_for('add_customer') }}">Add Customer</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </td>
        <td class="administrate right">
            <div class="input-table clear">
                <div class="action exempt">
                    {% block administrate %}
                    {% endblock %}
                </div>
            </div>
        </td>
    </tr>
</table>
{% endblock %}