<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type="text/css" href="/static/css/style.css">
    {% block css %}
    {% endblock %}

    {% if title %}
    <title>{{ title }} - Welcome to the Bioinformatics Core Information System</title>
    {% else %}
    <title>Welcome to the Bioinformatics Core Information System</title>
    {% endif %}

</head>
<body>
    <div class="header">
        <div class="container">
            <h1>Bio<i>CIS</i></h1>
            <p>Genomics & Bioinformatics Data Management System</p>
        </div>
        <div class="nav">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('investigations') }}">My Investigations</a></li>
                    <li><a href="{{ url_for('projects') }}">My Projects</a></li>
                    <li><a href="{{ url_for('runs') }} ">My Runs</a></li>
                    <li>
                        {% if g.user.is_authenticated %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                        {% else %}
                        <a href="{{ url_for('login') }}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="messages">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }} message">
                <h3>{{ category.upper() }}</h3>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

    <br>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    <div class="footer">
        <div class="nav">
            <div class="container">
                <ul>
                    <li>Profile</li>
                    <li>Settings</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>