<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type="text/css" href="/static/css/style.css">
    {% block css %}
    {% endblock %}

    {% if title %}
    <title>{{ title }} - Welcome to the Bioinformatics Core Information System</title>
    {% else %}
    <title>Welcome to the Bioinformatics Core Information System</title>
    {% endif %}

</head>
<body>
    <div class="header">
        <div class="container">
            <h1>Translational Bioinformatics Core Information System</h1>
            <p>Analyse all your data!</p>
        </div>
        <div class="nav">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('projects') }}">Projects</a></li>
                    <li><a href="{{ url_for('sequencing_runs') }} ">Sequencing Runs</a></li>
                    <li><a href="{{ url_for('input') }}">Input</a></li>
                    <li>
                        {% if g.user.is_authenticated %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                        {% else %}
                        <a href="{{ url_for('login') }}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>