{% extends "base.html" %}
{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="input-table clear">
        <table>
            <tr>
                <td>
                    <div class="action">
                        <h3>Input Sequencing Data</h3>
                        <a class="input" href="{{ url_for('input_sequencing_run') }}">Add a new sequencing run.</a>
                        <ul>
                            <li>Registers data for processing using our sequencing pipeline</li>
                            <li></li>
                        </ul>
                    </div>
                </td>

                <td>
                    <div class="action">
                        <h3>Input Flow Cytometry Data</h3>
                        <a class="input" href="{{ url_for('input_flow_cytometry_run') }}">Add a new flow cytometry run.</a>
                        <ul>
                            <li>Registers data for processing using our flow cytometry pipeline</li>
                            <li></li>
                        </ul>
                    </div>
                </td>

                <td>
                    <div class="action">
                        <h3>Add an Investigation</h3>
                        <a class="input" href="{{ url_for('new_investigation') }}">Add a new investigation.</a>
                        <ul>
                            <li>Create a parent investigation that can hold multiple project types</li>
                            <li></li>
                        </ul>
                    </div>
                </td>

                <td>
                    <div class="action">
                        <h3>Add Sequencing Project</h3>
                        <a class="input" href="{{ url_for('input_sequencing_project') }}">Add a new sequencing project.</a>
                        <ul>
                            <li>Create a sequencing project for assigning different lanes from a sequencing run to different investigations.</li>
                            <li></li>
                        </ul>
                    </div>
                </td>

                <td>
                    <div class="action">
                        <h3>Add Flow Cytometry Project</h3>
                        <a class="input" href="{{ url_for('input_flow_cytometry_project') }}">Add a new flow cytometry project.</a>
                        <ul>
                            <li>Create a sequencing project for grouping files from a flow cytometry run to different investigations.</li>
                            <li></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="/static/js/index.js"></script>
    {% else %}
    <div class="input-table clear">
        <table>
            <h3>Welcome to BioCIS - Please login to perform actions.</h3>
        </table>
    </div>
    {% endif %}
{% endblock %}