{% extends "table.html" %}
{% block table %}
<h3>Investigations</h3>
<table class="content">
    <tr>
        <th>Investigation Name</th>
        <th>Investigation Lead</th>
        <th>Customer</th>
        <th>Start Date</th>
        <th>Last Updated</th>
        <th>Status</th>
    </tr>

    {% for investigation in obs.items %}
    <tr>
        <td><a href="{{ url_for('investigation', name=investigation.investigation_name, iid=investigation.investigation_id) }}">{{ investigation.investigation_name }}</a></td>
        <td>{{ investigation.investigation_lead }}</td>
        <td>Customer</td>
        <td>{{ investigation.open_date }}</td>
        <td>{{ investigation.last_update }}</td>
        <td>{{ investigation.status }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}