{% extends "base.html" %}
{% block css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block content %}
<h3>Select Project To Link (click on the project name)</h3>
<table class="content">
    <tr>
        <th>Project Name</th>
        <th>Project Type</th>
        <th>Investigation</th>
    </tr>

    {% for project in projects.items %}
    <tr>
        <td><a href="{{ url_for('link_project', iid=iid, page=page, pid=project.id) }}">{{ project.name }}</a></td>
        <td>{{ project.type }}</td>
        <td>{{ project.investigation }}</td>
    </tr>
    {% endfor %}
</table>

<table class="pagenator">
    <tr>
        <td></td>
        <td>&lt;&lt;</td>
        <td>
            {% if projects.has_prev %}
            <a href="{{ url_for('projects', page=posts.prev_num) }}">Previous</a>
            {% else %}
            Previous
            {% endif %}
        </td>
        <td>|</td>
        <td>
            {% if projects.has_next %}
            <a href="{{ url_for('projects', page=posts.next_num) }}">Next</a>
            {% else %}
            Next
            {% endif %}
        </td>
        <td>&gt;&gt;</td>
        <td></td>
    </tr>
</table>

{% endblock %}