{% extends "base.html" %}
{% block content %}
<div class="input-table clear">
    <div class="action">
        <h3>New Project</h3>

        <form action="{{ url_for('new_project') }}" method=post>
            <table class="small_content">
                <tr>
                    <td>
                        {{ form.hidden_tag() }}
                        <table class="internal">
                            <tr>
                                <td>{{ form.project_name.label }}</td>
                                <td>{{ form.project_name }}</td>
                            </tr>
                            {% for message in form.project_name.errors %}
                            <tr class="flash">{{ message }}</tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="internal">
                            <tr>
                                <td>{{ form.project_lead.label }}</td>
                                <td>{{ form.project_lead }}</td>
                            </tr>
                            {% for message in form.project_lead.errors %}
                            <tr class="flash">{{ message }}</tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.submit }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}