{% extends "base.html" %}
{% block content %}
<div class="input-table clear">
    <table>
        <tr>
            <td>
                <div class="action">
                    <h3>Upload Sequencing Run Information</h3>
                    <a href="{{ url_for('input_sequencing_run', type='download') }}" class="input">Download Sequencing Run Template</a>
                    <br>
                    <br>
                    <form action="{{ url_for('input_sequencing_run', type='upload') }}" method=post enctype="multipart/form-data">
                        <table class="small_content">
                            <tr>
                                <td>
                                    {{ form.hidden_tag() }}
                                    <table class="internal">
                                        <tr>
                                            <td>{{ form.run_name.label }}</td>
                                            <td>{{ form.run_name }}</td>
                                        </tr>
                                        {% for message in form.run_name.errors %}
                                        <tr class="flash"><td>{{ message }}</td></tr>
                                        {% endfor %}

                                        <tr>
                                            <td>{{ form.file_upload.label }}</td>
                                            <td>{{ form.file_upload }}</td>
                                        </tr>
                                        {% for message in form.file_upload.errors %}
                                        <tr class="flash"><td>{{ message }}</td></tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.submit }}
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
            <td>
                <div class="action">
                    <h3>Manually Enter Sequencing Run Information</h3>
                    <form action="{{ url_for('input_sequencing_run', type='manual') }}" method=post>
                        <table class="small_content">
                            <tr>
                                <td>

                                    {{ form2.hidden_tag() }}
                                    <table class="internal">
                                        <tr>
                                            <td>{{ form2.sequence_run_name.label}}</td>
                                            <td>{{ form2.sequence_run_name }}</td>
                                        </tr>
                                        {% for message in form2.sequence_run_name.errors %}
                                        <tr class="flash"><td colspan="2">{{ message }}</td></tr>
                                        {% endfor %}

                                        <tr>
                                            <td>{{ form2.flow_cell_id.label }}</td>
                                            <td>{{ form2.flow_cell_id }}</td>
                                        </tr>
                                        {% for message in form2.flow_cell_id.errors %}
                                        <tr class="flash"><td colspan="2">{{ message }}</td></tr>
                                        {% endfor %}

                                        <tr>
                                            <td>{{ form2.start_date.label }}</td>
                                            <td>{{ form2.start_date }}</td>
                                        </tr>
                                        {% for message in form2.start_date.errors %}
                                        <tr class="flash"><td colspan="2">{{ message }}</td></tr>
                                        {% endfor %}

                                        <tr>
                                            <td>{{ form2.completion_date.label }}</td>
                                            <td>{{ form2.completion_date }}</td>
                                        </tr>
                                        {% for message in form2.completion_date.errors %}
                                        <tr class="flash"><td colspan="2">{{ message }}</td></tr>
                                        {% endfor %}

                                        <tr>
                                            <td>{{ form2.genomics_lead.label }}</td>
                                            <td>{{ form2.genomics_lead }}</td>
                                        </tr>
                                        {% for message in form2.genomics_lead.errors %}
                                        <tr class="flash"><td colspan="2">{{ message }}</td></tr>
                                        {% endfor %}

                                        <tr>
                                            <td>{{ form2.data_location.label }}</td>
                                            <td>{{ form2.data_location }}</td>
                                        </tr>
                                        {% for message in form2.data_location.errors %}
                                        <tr class="flash"><td colspan="2">{{ message }}</td></tr>
                                        {% endfor %}

                                        <tr>
                                            <td>{{ form2.index_tag_cycles.label }}</td>
                                            <td>{{ form2.index_tag_cycles }}</td>
                                        </tr>
                                        {% for message in form2.index_tag_cycles.errors %}
                                        <tr class="flash"><td colspan="2">{{ message }}</td></tr>
                                        {% endfor %}

                                        <tr>
                                            <td>{{ form2.read_cycles.label }}</td>
                                            <td>{{ form2.read_cycles }}</td>
                                        </tr>
                                        {% for message in form2.read_cycles.errors %}
                                        <tr class="flash"><td colspan="2">{{ message }}</td></tr>
                                        {% endfor %}

                                        <tr>
                                            <td>{{ form2.paired_end.label }}</td>
                                            <td>{{ form2.paired_end }}</td>
                                        </tr>
                                        {% for message in form2.paired_end.errors %}
                                        <tr class="flash"><td colspan="2">{{ message }}</td></tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form2.submit }}
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
    </table>



</div>
{% endblock %}