{% extends "base.html" %}
{% block content %}
<div class="input-table clear">
    <div class="action">
        <h3>New Investigation</h3>

        <form action="{{ url_for('new_investigation') }}" method=post>
            <table class="small_content">
                <tr>
                    <td>
                        {{ form.hidden_tag() }}
                        <table class="internal">
                            <tr>
                                <td>{{ form.investigation_name.label }}</td>
                                <td>{{ form.investigation_name }}</td>
                            </tr>
                            {% for message in form.investigation_name.errors %}
                            <tr class="flash"><td>{{ message }}</td></tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="internal">
                            <tr>
                                <td>{{ form.investigation_lead.label }}</td>
                                <td>{{ form.investigation_lead }}</td>
                            </tr>
                            {% for message in form.investigation_lead.errors %}
                            <tr class="flash"><td>{{ message }}</td></tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.submit }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}