{% extends "base.html" %}
{% block css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block content %}
<table class="content">
    <tr>
        <th>Run Name</th>
        <th>Run Type</th>
        <th>Start Date</th>
        <th>Completion Date</th>
        <th>Data Location</th>
    </tr>

    {% for run in runs.items %}
    <tr>
        <td><a href="{{ url_for('run', name=run.name, rid=run.id, type=run.type) }}">{{ run.name }}</a></td>
        <td>{{ run.type }}</td>
        <td>{{ run.start_date }}</td>
        <td>{{ run.completion_date }}</td>
        <td>{{ run.data_location }}</td>
    </tr>
    {% endfor %}
</table>

<table class="pagenator">
    <tr>
        <td></td>
        <td>&lt;&lt;</td>
        <td>
            {% if runs.has_prev %}
            <a href="{{ url_for('runs', page=posts.prev_num) }}">Previous</a>
            {% else %}
            Previous
            {% endif %}
        </td>
        <td>|</td>
        <td>
            {% if runs.has_next %}
            <a href="{{ url_for('runs', page=posts.next_num) }}">Next</a>
            {% else %}
            Next
            {% endif %}
        </td>
        <td>&gt;&gt;</td>
        <td></td>
    </tr>
</table>

{% endblock %}