{% extends "base.html" %}
{% block custom_css %}
<link rel=stylesheet type="text/css" href="/static/css/large_table.css">
{% endblock %}

{% block content %}
<div class="input-table">
    <div class="action exempt">
        <h3>Sample Group Details</h3>
        <table class="content">
            <tr>
                <th>Sequence Sample Group Name</th>
                <th>Pipeline Runs</th>
            </tr>

            <tr>
                <td>{{ group.name }}</td>
                <td><ul>
                    {% if group.past_runs %}
                    {% for pipeline in group.past_runs %}
                    <li>{{ pipeline.pipeline.name }}</li>
                    {% endfor %}
                    {% else %}
                    <li>None</li>
                    {% endif %}
                </ul></td>
            </tr>
        </table>
        <br>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Current Pipeline Details</h3>
        {% if group.current_pipeline %}
        <table>
            <tr>
                {% for stage in group.current_pipeline.module_instance%}
                {% if stage.current_status == "WAITING" %}
                <td style="background-image:url(#)">{{ stage.name }}</td>
                {% elif stage.current_status == "RUNNING" %}
                <td style="background-image:url(#)">{{ stage.name }}</td>
                {% elif stage.current_status == "FINISHED" %}
                <td style="background-image:url(#)">{{ stage.name }}</td>
                {% elif stage.current_status == "ERRORED" %}
                <td style="background-image:url(#)">{{ stage.name }}</td>
                {% elif stage.current_status == "NOT_STARTED" %}
                <td style="background-image:url(#)">{{ stage.name }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>

        {% else %}
        <h4>No current pipeline - please select a pipeline to begin a run</h4>
        <select class="selection">
            <option selected value="None">None</option>
            {% for pipeline in pipelines %}
            <option value="{{ pipeline.name }}">{{ pipeline.name }}</option>
            {% endfor %}
        </select>
        {% endif %}

        <div class="spacer"></div>

        {% for pipeline in pipelines %}
        <div id="{{ pipeline.name }}" class="description" style="display: none">
            <p>{{ pipeline.name }}</p>
            <p>{{ pipeline.description }}</p>
            <p>{{ pipeline.author }}</p>
            <p>{{ pipeline.version}}</p>
            <a href="{{ url_for('run_pipeline', sample_group=group.display_key, pipeline=pipeline.display_key) }}">Select</a>
        </div>
        {% endfor %}

        <div class="spacer"></div>
    </div>

    <div class="spacer"></div>

    <div class="action exempt">
        <h3>Sample Details</h3>
        <table class="content2">
            <tr>
                <th>Internal Sample Name</th>
                <th>Customer Sample Name</th>
                <th>Adaptor Sequence</th>
                <th>Lane Number</th>
                <th>Sequencing Concentration (pmol)</th>
                <th>Phi X Spiked</th>
                <th>Spike</th>
                <th>Spike Ratio</th>
            </tr>

            {% for sample in group.sample %}
            <tr>
                <td>{{ sample.internal_sample_name }}</td>
                <td>{{ sample.customer_sample_name }}</td>
                <td>{{ sample.adaptor_sequence }}</td>
                <td>{{ sample.lane.number }}</td>
                <td>{{ sample.lane.sequencing_concentration }}</td>
                <td>{{ sample.lane.phi_x_spiked }}</td>
                <td>{{ sample.lane.spike }}</td>
                <td>{{ sample.lane.spike_ratio }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="/static/js/selectContent.js"></script>
{% endblock %}
