{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/large_table.css">
<link rel="stylesheet" type="text/css" href="/static/css/terms.css">
{% endblock %}

{% block content %}
<div class="input-table">
    <div class="action exempt">
        <div class="terms">
            <h3>Terms and Conditions</h3>
            <p>The terms and conditions listed below apply to any user of BioCIS:</p>

            <h1>TITLE</h1>
            <h2>Subtitle</h2>
            <h3>Subsubtitle</h3>
            <p>Some text just for you to read. You know this makes you amazingly special don't you?</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <p>If you are viewing this I hope you have an amazing day</p>
            <h1>WOW you made it here. You got to ask yourself. WHY :P</h1>
        </div>
    </div>
</div>
{% endblock %}